body {
  margin: 0; padding: 0;
  background-color: #F2F2F2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.git {
  position: relative;
  width: 150px; height: 150px;
  background-color: #F05033;
  border-radius: 15px;
  transform: rotate(45deg);
}

.line1 {
  position: absolute;
  width: 110px; height: 12px;
  top: 40px;
  background-color: white;
}

.line1::before {
  position: absolute;
  content: '';
  top: -8px; left: 30px;
  width: 30px; height: 30px;
  background-color: white;
  border-radius: 50%;
}

.line1::after {
  position: absolute;
  content: '';
  top: -8px; left: 90px;
  width: 30px; height: 30px;
  background-color: white;
  border-radius: 50%;
}

.line2 {
  position: absolute;
  width: 90px; height: 12px;
  top: 70px; left: 30px;
  background-color: white;
  transform: rotate(45deg);
}

.line2::before {
  position: absolute;
  content: '';
  top: -8px; left: 70px;
  width: 30px; height: 30px;
  background-color: white;
  border-radius: 50%;
}