body {
  margin: 0; padding: 0;
  height: 100vh;
  background-color: #69506d;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.watermelon {
  width: 320px; height: 160px;
  background-color: #fd6c64;
  border-right: 20px solid #5AF5b6;
  border-bottom: 20px solid #5AF5b6;
  border-left: 20px solid #5AF5b6;
  border-radius: 0 0 200px 200px;
}

span {
  display: inline-block;
  width: 8.6px; height: 10px;
  background-color: #262626;
  border-radius: 50%;
  margin: 20px;
}

span:nth-child(7),
span:nth-child(12),
span:nth-child(13),
span:nth-child(14) {
  opacity: 0;
}


