* {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

body {
  background: #F2F2F2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  position: relative;
  width: 150px; height: 150px;
}

.top {
  position: absolute;
  width: 150px; height: 150px;
  border-top: 30px solid #E33E2B;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #2BA14B;
  border-left: 30px solid #F1B500;
  border-radius: 50%;
}

.half {
  position: absolute;
  width: 150px; height: 150px;
  border: 30px solid transparent;
  border-right: 30px solid #3A7CEC;
  transform: rotate(45deg);
  border-radius: 50%;
  z-index: -1;
}

.line {
  position: absolute;
  width: 80px; height: 30px;
  background-color: #3A7CEC;
  top: 50%; right: 0;
  transform: translateY(-50%);

  /* 특정위치의 모서리 둥글게하기는 아래의 방법들을 사용할 수 있음. (둘 다 결과는 같음.)*/

  /* 방법1. border-radius: 위-왼쪽 / 위-오른쪽 / 아래-오른쪽 / 아래-왼쪽  << 순서는 시계방향 */
  /* border-radius: 0 0 15px 0; */

  /* 방법2. border-방향-radius: 값; */
  border-bottom-right-radius: 15px;
}